body{
    font-family: "Lato", serif;
    background-color:var(--clr-white);
}
.container{
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}
.btn{
  width: 183px;
  height: 51px;
  color: var(--clr-white);
  background-color: var(--clr-green);
  border-radius: 4px;
  gap: 35px;
  font-weight: 400;
  font-size: 20px;
  transition: .3s;  
}

.btn:hover{
  transform: scale(1.1);
}
.btn-signin{
  background-color:transparent;
  color: var(--clr-black);
  transition: .0s;
}
.btn-signin:hover{
  border:2px solid var(--clr-green);
  border-radius:4px;
  transform: scale(1);
}