.pricing {
	padding: 95px 0 145px;
	background-color: var(--clr-dark_green);
}
.pricing__content {
	color: var(--clr-white);
	padding: 0 30px 0;
}
.pricing__title {
	font-weight: 900;
	font-size: 40px;
}
.pricing__nav {
	margin: 65px 0 0;
}
.pricing__nav-list {
	display: flex;
	flex-direction: column;
	justify-self: start;
	align-items: start;
	row-gap: 60px;
}
.pricing__nav-link {
	font-weight: 600;
	font-size: 25px;
	position: relative;
}
.pricing__nav-link::after{
	content:"";
	height: 1px;
	width: 0%;
	background: var(--clr-dark-black);
	right: 0;
	position: absolute;
	transition:width .33s;
	top: -3px;
}
.pricing__nav-link:hover.pricing__nav-link::after {
	width: 100%;
}
.pricing__nav-link::before{
	content:"";
	height: 1px;
	width: 0%;
	background: var(--clr-dark-black);
	left: 0;
	position: absolute;
	transition:width .33s;
	top:35px;
}
.pricing__nav-link:hover.pricing__nav-link::before {
	width: 100%;
}
@media(max-width: 990px){
	.pricing__title {
		font-size: 35px;
	}
	.pricing__nav {
		margin: 55px 0 0;
	}
	.pricing__nav-list {
		row-gap: 50px;
	}
	.pricing__nav-link {
		font-size: 20px;
	}
	.pricing__nav-link::before{
		top:29px;
	}
}
@media(max-width: 769px){
	.pricing__title {
		font-size: 25px;
	}
	.pricing__nav {
		margin: 45px 0 0;
	}
	.pricing__nav-list {
		row-gap: 40px;
	}
	.pricing__nav-link {
		font-size: 16px;
	}
	.pricing__nav-link::before{
		top:23px;
	}
}